uvicorn
fastapi
httpx
pytest
pytest-watch
sqlalchemy
sqlmodel
psycopg2
prometheus_fastapi_instrumentator
PyJWT   #==2.8.0
python-decouple #==3.8
pydantic[email] #==1.9.0
passlib[bcrypt]
python-multipart
uv
#pytest-cov
#pytest-mock
#pytest-asyncio
#pytest-sugar
